In [19]:
import psycopg2

conn = psycopg2.connect(
    host="database-2.cluster-cnqcwui40xf8.eu-central-1.rds.amazonaws.com",
    database="demo",
    user="postgres",
    password="NIT-Coding-2025",
    port=5432
)

cursor = conn.cursor()
cursor.execute("SELECT version();")
print(cursor.fetchone())

('PostgreSQL 16.6 on aarch64-unknown-linux-gnu, compiled by aarch64-unknown-linux-gnu-gcc (GCC) 9.5.0, 64-bit',)

In [26]:
import pandas as pd


# Query to fetch all data from the Artist table
query_artist = "SELECT * FROM Artist"
 
# Execute the query and load the result into a DataFrame
df_artist = pd.read_sql_query(query_artist, conn)
 
# Display the result
print(df_artist)
 


# Query the album table
query_album = "SELECT * FROM Album;"
df_album = pd.read_sql_query(query_album, conn)


# View the DataFrame
print(df_album)

#conn.close()

     artistid                                               name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]
     albumid                                              title  artistid
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

C:\Users\rforner\AppData\Local\Temp\ipykernel_11008\2020382315.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_artist = pd.read_sql_query(query_artist, conn)
C:\Users\rforner\AppData\Local\Temp\ipykernel_11008\2020382315.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_album = pd.read_sql_query(query_album, conn)

In [35]:



# Load tables
albums = pd.read_sql("SELECT * FROM album;", conn)
artists = pd.read_sql("SELECT * FROM artist;", conn)

# Optional: Print column names for debugging
print("Album columns:", albums.columns.tolist())
print("Artist columns:", artists.columns.tolist())

# Merge on ArtistId (likely column name in many schemas)
album_artist_df = pd.merge(
    albums,
    artists,
    how="inner",
    left_on="artistid",   # adjust if needed
    right_on="artistid")

# Keep only relevant columns
album_artist_df = album_artist_df[["albumid", "title", "name"]]
album_artist_df.columns = ["album_id", "album_title", "artist_name"]

# Close connection
#conn.close()

# Display result
print(album_artist_df.head())

Album columns: ['albumid', 'title', 'artistid']
Artist columns: ['artistid', 'name']
   album_id                            album_title artist_name
0         1  For Those About To Rock We Salute You       AC/DC
1         2                      Balls to the Wall      Accept
2         3                      Restless and Wild      Accept
3         4                      Let There Be Rock       AC/DC
4         5                               Big Ones   Aerosmith

C:\Users\rforner\AppData\Local\Temp\ipykernel_11008\4131832396.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  albums = pd.read_sql("SELECT * FROM album;", conn)
C:\Users\rforner\AppData\Local\Temp\ipykernel_11008\4131832396.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  artists = pd.read_sql("SELECT * FROM artist;", conn)